# Python cache
__pycache__/
*.pyc

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Folders
April_2026/
July_2026/
Social_metrics-main/
archived_scripts/

# Media
*.mp4
*.mkv
*.avi
*.parquet

# VS Code settings
.vscode/